<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Create</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidebar {
            height: 100%;
            width: 160px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 16px;
        }

        .sidebar a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
        }

        .sidebar a:hover {
            color: #f1f1f1;
        }

        .main {
            margin-left: 160px;
            /* Same as the width of the sidenav */
            padding: 0px 10px;
        }

        @media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 15px;
            }

            .sidebar a {
                font-size: 18px;
            }
        }
    </style>
</head>

<body>
    <div class="sidebar">
        <a href="/home"><i class="fa fa-fw fa-home"></i> Home</a>
    </div>

    <div class="main">
        <ul>
            <form action="/created" method="POST" enctype="multipart/form-data">
                Name*:</br>
                <input type="text" name="name" required></p>
                Type:</br>
                <input type="text" name="type"></p>
                Quantity:</br>
                <input type="text" name="quantity"></p>
                Street:</br>
                <input type="text" name="street"></p>
                Building:</br>
                <input type="text" name="building"></p>
                Country:</br>
                <input type="text" name="country"></p>
                Zipcode:</br>
                <input type="text" name="zipcode"></p>
                GPS Latitude:</br>
                <input type="text" name="Latitude"></p>
                GPS Longitude:</br>
                <input type="text" name="Longitude"></p>
                Photo:<input type="file" name="filetoupload" id="filetoupload"><button id="btn-file-reset-id"
                    type="button">Reset
                    file</button></p>
                <input type="submit" value="Create"><br>
            </form>
        </ul>
    </div>
    <script>
        $(document).ready(function () {
            $('#btn-file-reset-id').on('click', function () {
                $('#filetoupload').val('');
            });
        });
    </script>
</body>

</html>